.nav {
    background-color: #003366;
    border-bottom: 5px solid #D4AF37;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
   
.nav a {
    color: white;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    float: left;
    padding: 16px;
}
  
.nav a:hover {
    background-color: #5D6D7E;
    color: white;
}
  
.nav a.active {
    background-color: #D4AF37;
    color: #003366;
}

.header {
    color: #003366;
    border-bottom: 3px solid #D4AF37;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 5px;
    margin-right: 50px;
    color: #333333;
}

.figure { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin: 0; 
    padding: 0; 
}

.caption {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 5px;
    margin-right: 50px;
    margin-bottom: 50px;
    color: #333333;
}

.subheader {
    color: #003366;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    text-transform: uppercase;
}

.list {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #333333;
}

.list a {
    color: #003366;
    text-decoration: none;
    font-weight: bold;
}
  
.list a:hover {
    color: #D4AF37;
}
